<form action="/admin/edit" method="POST">

  Title: <input type="text" name="title" value="{{project.title}}"><br>
  Description: <input type="text" name="description" value="{{project.description}}"><br>
  repoURL: <input type="text" name="repoURL" value="{{project.repoURL}}"><br>
  hostedURL: <input type="text" name="hostedURL" value="{{project.hostedURL}}"><br>
  imageURL: <input type="text" name="imageURL" value="{{project.imageURL}}"><br>
  <input type="submit" value="Submit">
</form>